<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center">
            <a class="navbar-brand me-3" href="#">Inmobiliaria</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 align-items-lg-center">
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/">Inicio</a>
                </li>
                <li class="nav-item" *ngIf="!isAuthenticated">
                    <a class="nav-link" (click)="openLoginModal()">Login</a>
                </li>
                <li class="nav-item" *ngIf="!isAuthenticated">
                    <a class="nav-link" (click)="openRegisterModal()">Registrarse</a>
                </li>
                <li class="nav-item" *ngIf="isAuthenticated">
                    <a class="nav-link" routerLink="/clientes">Clientes</a>
                </li>
                <li class="nav-item" *ngIf="isAuthenticated">
                    <a class="nav-link" routerLink="/proyectos">Proyectos</a>
                </li>
                <li class="nav-item" *ngIf="isAuthenticated">
                    <a class="nav-link" routerLink="/unidades">Unidades</a>
                </li>
                <li class="nav-item" *ngIf="isAuthenticated">
                    <a class="nav-link" (click)="logout()">Cerrar Sesión</a>
                </li>
            </ul>
            <div class="ms-lg-3 text-lg-end user-info" *ngIf="isAuthenticated && (userName || userEmail)">
                <span class="d-block fw-semibold">{{ userName || 'Usuario' }}</span>
                <small class="text-muted">{{ userEmail }}</small>
            </div>
        </div>
    </div>
</nav>
